# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode / iOS
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# CocoaPods
ios/Pods/
**/Pods/
/vendor/bundle/

# Android / IntelliJ
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Metro / React Native / Expo
.metro-health-check*
.expo/
.expo-shared/

# Build outputs
dist/
tmp/
temp/
coverage/
*.jsbundle
storybook-static/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# VSCode
.vscode/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vercel
